Shopify_Trigger_Xero_Invoice
{
  "name": "Shopify Trigger Xero Invoice",
  "nodes": [
    {
      "parameters": {
        "method": "PUT",
        "url": "https://api.xero.com/api.xro/2.0/Invoices",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "xero-tenant-id",
              "value": "c9427dfa-16c9-4aba-aebb-194e0b4885d3"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "Type",
              "value": "ACCREC"
            },
            {
              "name": "Contact.ContactId",
              "value": "={{ $json.ContactID }}"
            },
            {
              "name": "LineItems",
              "value": "={{ $('Code').item.json.lineItems }}"
            },
            {
              "name": "CurrencyCode",
              "value": "USD"
            },
            {
              "name": "Date",
              "value": "=2024-06-27"
            },
            {
              "value": "="
            },
            {
              "name": "SubTotal",
              "value": "={{ $('Shopify Order Creation Trigger').item.json.subtotal_price }}"
            },
            {
              "name": "LineAmountTypes",
              "value": "Exclusive"
            },
            {
              "name": "Status",
              "value": "AUTHORISED"
            },
            {
              "name": "DueDate",
              "value": "2024-06-27"
            },
            {}
          ]
        },
        "options": {}
      },
      "id": "75013fa1-c849-4f88-a1df-4a0d4197c88e",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1820,
        1320
      ],
      "credentials": {
        "oAuth2Api": {
          "id": "YJmIfIeXTjGF0mJf",
          "name": "Xero credential"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const lineItems = $('Shopify Order Creation Trigger').first().json.line_items;\nconst finalLineItems = [];\nconst email = $('Shopify Order Creation Trigger').first().json.contact_email;\nconst firstName = $('Shopify Order Creation Trigger').first().json.customer?.first_name;\nconst note = $('Shopify Order Creation Trigger').first().json.note;\nvar shippingAccount = \"\";\n    lineItems.forEach((line)=>{\n     let lineItem={};\n     lineItem.Description =line.name;\n     lineItem.Quantity =line.quantity;\n      lineItem.UnitAmount =line.price;\nlineItem.TaxType =\"OUTPUT\";\n     lineItem.TaxAmount =$('Shopify Order Creation Trigger').first().json.tax_lines[0].price;\n      if ($('Shopify1').all().find((product)=>\n       {\nreturn product.json.variants[0].product_id===line.product_id}).json.variants[0].barcode) {\n        lineItem.ItemCode=$('Shopify1').all().find((product)=>\n       {\nreturn product.json.variants[0].product_id===line.product_id}).json.variants[0].barcode;\n      }\n\n\n      lineItem.DiscountAmount =line?.total_discount;\n      if(note===\"Sold through Helcim\"){\n        lineItem.AccountCode = '3007'\n          shippingAccount=\"3007\"\n      }\n      else {\n        lineItem.AccountCode ='3008'\n        shippingAccount = '3008'\n      }\n      finalLineItems.push(lineItem)\n})\n  const shippingLineItem ={};\n    shippingLineItem.Quantity = 1;\n    shippingLineItem.Description =\"Shipping\";\n    shippingLineItem.UnitAmount = $('Shopify Order Creation Trigger').first().json.total_shipping_price_set.shop_money.amount;\n\n   shippingLineItem.AccountCode = shippingAccount;\n      finalLineItems.push(shippingLineItem);\nreturn{\njson:{\nemail:email ? email:\"danielboone344@gmail.com\" ,\n\nnote:note,\nfirstName:  firstName ? firstName : \"Helcim Fee\" ,\n  lineItems:finalLineItems\n}}"
      },
      "id": "a1ff47fc-ddf7-44e4-bc36-94c0ad425263",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        860
      ]
    },
    {
      "parameters": {
        "resource": "contact",
        "operation": "getAll",
        "organizationId": "c9427dfa-16c9-4aba-aebb-194e0b4885d3",
        "options": {
          "where": "=name==\"Shopify\""
        }
      },
      "id": "f0399364-eb93-4ef9-adf0-693cbcf7ec26",
      "name": "Xero5",
      "type": "n8n-nodes-base.xero",
      "typeVersion": 1,
      "position": [
        1140,
        640
      ],
      "alwaysOutputData": true,
      "credentials": {
        "xeroOAuth2Api": {
          "id": "bP9yg4IHomkE3jHQ",
          "name": "Xero account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "8d349f27-1a8c-4399-86b9-ee7de385d98c",
              "leftValue": "={{ $json.ContactID }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a082e775-684c-4b90-936a-8d700db07cdb",
      "name": "If2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1520,
        880
      ],
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "resource": "contact",
        "organizationId": "c9427dfa-16c9-4aba-aebb-194e0b4885d3",
        "name": "={{ $('Code').item.json.firstName }}",
        "additionalFields": {
          "emailAddress": "={{ $('Code').item.json.email }}"
        }
      },
      "id": "943e45c9-d765-4e44-8a17-3bc2f025ef38",
      "name": "Xero6",
      "type": "n8n-nodes-base.xero",
      "typeVersion": 1,
      "position": [
        1820,
        700
      ],
      "credentials": {
        "xeroOAuth2Api": {
          "id": "bP9yg4IHomkE3jHQ",
          "name": "Xero account 2"
        }
      }
    },
    {
      "parameters": {
        "authentication": "accessToken",
        "resource": "product",
        "operation": "get",
        "productId": "={{ $json.product_id }}",
        "additionalFields": {}
      },
      "id": "6d420672-4f0e-4c94-9086-b59c2ac114bf",
      "name": "Shopify1",
      "type": "n8n-nodes-base.shopify",
      "typeVersion": 1,
      "position": [
        460,
        460
      ],
      "credentials": {
        "shopifyAccessTokenApi": {
          "id": "CgXHLgtpZmCQTb6o",
          "name": "Shopify Access Token account 2"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "line_items",
        "options": {}
      },
      "id": "7af8d109-bd97-47a8-8964-f601139b413b",
      "name": "Split Out1",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        220,
        640
      ]
    },
    {
      "parameters": {
        "authentication": "accessToken",
        "topic": "orders/create"
      },
      "id": "e523e6ac-49ca-4df0-9e59-255022a91924",
      "name": "Shopify Order Creation Trigger",
      "type": "n8n-nodes-base.shopifyTrigger",
      "typeVersion": 1,
      "position": [
        260,
        920
      ],
      "webhookId": "87afd09f-3dcf-465f-ab62-e07d7e5806c1",
      "credentials": {
        "shopifyAccessTokenApi": {
          "id": "CgXHLgtpZmCQTb6o",
          "name": "Shopify Access Token account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "2dc55c2a-dcc9-4139-89d4-099aa4f058f7",
              "leftValue": "={{ $json.note }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a6bbda46-9f24-468d-8e98-5b6531b440d2",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        920,
        860
      ]
    },
    {
      "parameters": {
        "resource": "contact",
        "operation": "getAll",
        "organizationId": "c9427dfa-16c9-4aba-aebb-194e0b4885d3",
        "options": {
          "where": "name==\"Helcim Fee\""
        }
      },
      "id": "9f683250-c5e3-488b-8186-da655c960780",
      "name": "Xero",
      "type": "n8n-nodes-base.xero",
      "typeVersion": 1,
      "position": [
        1160,
        1080
      ],
      "credentials": {
        "xeroOAuth2Api": {
          "id": "bP9yg4IHomkE3jHQ",
          "name": "Xero account 2"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.xero.com/api.xro/2.0/Accounts",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "xero-tenant-id",
              "value": "c9427dfa-16c9-4aba-aebb-194e0b4885d3"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "Invoice.InvoiceID",
              "value": "={{ $json.Invoices[0].InvoiceID }}"
            },
            {
              "name": "Amount",
              "value": "={{ $json.Invoices[0].Total }}"
            },
            {
              "name": "Account.Code",
              "value": "3008"
            }
          ]
        },
        "options": {}
      },
      "id": "2049b241-def3-4b4e-b668-498896e0dd91",
      "name": "HTTP Request1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2140,
        1100
      ],
      "credentials": {
        "xeroOAuth2Api": {
          "id": "vUGxNa9TAr0bZxLv",
          "name": "Xero account"
        },
        "oAuth2Api": {
          "id": "YJmIfIeXTjGF0mJf",
          "name": "Xero credential"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "https://api.xero.com/api.xro/2.0/Payments",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "xero-tenant-id",
              "value": "c9427dfa-16c9-4aba-aebb-194e0b4885d3"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "Invoice.InvoiceID",
              "value": "={{ $json.Invoices[0].InvoiceID }}"
            },
            {
              "name": "Amount",
              "value": "={{ $json.Invoices[0].Total }}"
            },
            {
              "name": "Account.AccountID",
              "value": "ab2d26aa-c54a-4372-9b61-410d771096cc"
            }
          ]
        },
        "options": {}
      },
      "id": "7a636507-4023-47ef-bb4a-42a3dabfa3a2",
      "name": "HTTP Request2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2100,
        1380
      ],
      "credentials": {
        "xeroOAuth2Api": {
          "id": "vUGxNa9TAr0bZxLv",
          "name": "Xero account"
        },
        "oAuth2Api": {
          "id": "YJmIfIeXTjGF0mJf",
          "name": "Xero credential"
        }
      }
    }
  ],
  "pinData": {
    "Shopify Order Creation Trigger": [
      {
        "json": {
          "id": 5609424027799,
          "admin_graphql_api_id": "gid://shopify/Order/5609424027799",
          "app_id": 1354745,
          "browser_ip": "111.68.99.92",
          "buyer_accepts_marketing": false,
          "cancel_reason": null,
          "cancelled_at": null,
          "cart_token": null,
          "checkout_id": 28345309790359,
          "checkout_token": "6ec0975f96a27a380a96efc7b5f6479a",
          "client_details": {
            "accept_language": null,
            "browser_height": null,
            "browser_ip": "111.68.99.92",
            "browser_width": null,
            "session_hash": null,
            "user_agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/125.0.0.0 Safari/537.36"
          },
          "closed_at": null,
          "company": null,
          "confirmation_number": "TPC5YDZ65",
          "confirmed": true,
          "contact_email": null,
          "created_at": "2024-07-12T10:57:07-04:00",
          "currency": "PKR",
          "current_subtotal_price": "59.99",
          "current_subtotal_price_set": {
            "shop_money": {
              "amount": "59.99",
              "currency_code": "PKR"
            },
            "presentment_money": {
              "amount": "59.99",
              "currency_code": "PKR"
            }
          },
          "current_total_additional_fees_set": null,
          "current_total_discounts": "0.00",
          "current_total_discounts_set": {
            "shop_money": {
              "amount": "0.00",
              "currency_code": "PKR"
            },
            "presentment_money": {
              "amount": "0.00",
              "currency_code": "PKR"
            }
          },
          "current_total_duties_set": null,
          "current_total_price": "118.59",
          "current_total_price_set": {
            "shop_money": {
              "amount": "118.59",
              "currency_code": "PKR"
            },
            "presentment_money": {
              "amount": "118.59",
              "currency_code": "PKR"
            }
          },
          "current_total_tax": "9.60",
          "current_total_tax_set": {
            "shop_money": {
              "amount": "9.60",
              "currency_code": "PKR"
            },
            "presentment_money": {
              "amount": "9.60",
              "currency_code": "PKR"
            }
          },
          "customer_locale": "en",
          "device_id": null,
          "discount_codes": [],
          "email": "",
          "estimated_taxes": false,
          "financial_status": "paid",
          "fulfillment_status": null,
          "landing_site": null,
          "landing_site_ref": null,
          "location_id": 71000195223,
          "merchant_of_record_app_id": null,
          "name": "#1131",
          "note": null,
          "note_attributes": [],
          "number": 131,
          "order_number": 1131,
          "order_status_url": "https://quickstart-2d276016.myshopify.com/64729350295/orders/d206e9993704c849bb5c07b66c1b9e8e/authenticate?key=844cd20f9f26273d0ce5adb3b1ce0a8c&none=VQZdAVBGUF9bQ1JE",
          "original_total_additional_fees_set": null,
          "original_total_duties_set": null,
          "payment_gateway_names": [
            "manual"
          ],
          "phone": null,
          "po_number": null,
          "presentment_currency": "PKR",
          "processed_at": "2024-07-12T10:57:06-04:00",
          "reference": "b9a074d30869b163d720d0277d9c1d4a",
          "referring_site": null,
          "source_identifier": "b9a074d30869b163d720d0277d9c1d4a",
          "source_name": "shopify_draft_order",
          "source_url": null,
          "subtotal_price": "59.99",
          "subtotal_price_set": {
            "shop_money": {
              "amount": "59.99",
              "currency_code": "PKR"
            },
            "presentment_money": {
              "amount": "59.99",
              "currency_code": "PKR"
            }
          },
          "tags": "",
          "tax_exempt": false,
          "tax_lines": [
            {
              "price": "9.60",
              "rate": 0.16,
              "title": "GST",
              "price_set": {
                "shop_money": {
                  "amount": "9.60",
                  "currency_code": "PKR"
                },
                "presentment_money": {
                  "amount": "9.60",
                  "currency_code": "PKR"
                }
              },
              "channel_liable": false
            }
          ],
          "taxes_included": false,
          "test": false,
          "token": "d206e9993704c849bb5c07b66c1b9e8e",
          "total_discounts": "0.00",
          "total_discounts_set": {
            "shop_money": {
              "amount": "0.00",
              "currency_code": "PKR"
            },
            "presentment_money": {
              "amount": "0.00",
              "currency_code": "PKR"
            }
          },
          "total_line_items_price": "59.99",
          "total_line_items_price_set": {
            "shop_money": {
              "amount": "59.99",
              "currency_code": "PKR"
            },
            "presentment_money": {
              "amount": "59.99",
              "currency_code": "PKR"
            }
          },
          "total_outstanding": "0.00",
          "total_price": "118.59",
          "total_price_set": {
            "shop_money": {
              "amount": "118.59",
              "currency_code": "PKR"
            },
            "presentment_money": {
              "amount": "118.59",
              "currency_code": "PKR"
            }
          },
          "total_shipping_price_set": {
            "shop_money": {
              "amount": "49.00",
              "currency_code": "PKR"
            },
            "presentment_money": {
              "amount": "49.00",
              "currency_code": "PKR"
            }
          },
          "total_tax": "9.60",
          "total_tax_set": {
            "shop_money": {
              "amount": "9.60",
              "currency_code": "PKR"
            },
            "presentment_money": {
              "amount": "9.60",
              "currency_code": "PKR"
            }
          },
          "total_tip_received": "0.00",
          "total_weight": 0,
          "updated_at": "2024-07-12T10:57:08-04:00",
          "user_id": 85906260119,
          "billing_address": null,
          "customer": null,
          "discount_applications": [],
          "fulfillments": [],
          "line_items": [
            {
              "id": 13123138584727,
              "admin_graphql_api_id": "gid://shopify/LineItem/13123138584727",
              "attributed_staffs": [],
              "current_quantity": 1,
              "fulfillable_quantity": 1,
              "fulfillment_service": "manual",
              "fulfillment_status": null,
              "gift_card": false,
              "grams": 0,
              "name": "Adidas Grant Court Whit Black (W)",
              "price": "59.99",
              "price_set": {
                "shop_money": {
                  "amount": "59.99",
                  "currency_code": "PKR"
                },
                "presentment_money": {
                  "amount": "59.99",
                  "currency_code": "PKR"
                }
              },
              "product_exists": true,
              "product_id": 8472382963863,
              "properties": [],
              "quantity": 1,
              "requires_shipping": true,
              "sku": "F36483",
              "taxable": true,
              "title": "Adidas Grant Court Whit Black (W)",
              "total_discount": "0.00",
              "total_discount_set": {
                "shop_money": {
                  "amount": "0.00",
                  "currency_code": "PKR"
                },
                "presentment_money": {
                  "amount": "0.00",
                  "currency_code": "PKR"
                }
              },
              "variant_id": 44427993284759,
              "variant_inventory_management": null,
              "variant_title": null,
              "vendor": "Quickstart (2d276016)",
              "tax_lines": [
                {
                  "channel_liable": false,
                  "price": "9.60",
                  "price_set": {
                    "shop_money": {
                      "amount": "9.60",
                      "currency_code": "PKR"
                    },
                    "presentment_money": {
                      "amount": "9.60",
                      "currency_code": "PKR"
                    }
                  },
                  "rate": 0.16,
                  "title": "GST"
                }
              ],
              "duties": [],
              "discount_allocations": []
            }
          ],
          "payment_terms": null,
          "refunds": [],
          "shipping_address": null,
          "shipping_lines": [
            {
              "id": 4453008638103,
              "carrier_identifier": "4084464f694a06e6683c491d00cef27f",
              "code": "custom",
              "discounted_price": "49.00",
              "discounted_price_set": {
                "shop_money": {
                  "amount": "49.00",
                  "currency_code": "PKR"
                },
                "presentment_money": {
                  "amount": "49.00",
                  "currency_code": "PKR"
                }
              },
              "is_removed": false,
              "phone": null,
              "price": "49.00",
              "price_set": {
                "shop_money": {
                  "amount": "49.00",
                  "currency_code": "PKR"
                },
                "presentment_money": {
                  "amount": "49.00",
                  "currency_code": "PKR"
                }
              },
              "requested_fulfillment_service_id": null,
              "source": "shopify",
              "title": "xero shipping",
              "tax_lines": [],
              "discount_allocations": []
            }
          ]
        }
      }
    ]
  },
  "connections": {
    "Code": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Xero5": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Xero6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Xero6": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Shopify1": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Shopify1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Shopify Order Creation Trigger": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Xero5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Xero",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Xero": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "8a587f2f-dc90-4f47-b3cf-c5dab8558ce8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a7efaf6bfdfb5e336677c322b23d987d77c5f5345c8a5c8afbeb6f30ac6facb5"
  },
  "id": "qQhODzykKuoa2BwP",
  "tags": []
}
